<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="site.team2dev.nemubengkel">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditBengkel"
            android:theme="@style/AppTheme.Form">
        </activity>
        <activity
            android:name=".AvailableTime"
            android:theme="@style/AppTheme.Form" />
        <activity
            android:name=".Layanan"
            android:theme="@style/AppTheme.Form" />
        <activity
            android:name=".Lokasi"
            android:theme="@style/AppTheme.Form" />
        <activity
            android:name=".Descripsi"
            android:theme="@style/AppTheme.Form" />
        <activity
            android:name=".AddBengkel"
            android:theme="@style/AppTheme.Form" />
        <activity
            android:name=".ChangePassword"
            android:theme="@style/AppTheme.Form" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Form" />
        <activity
            android:name=".EditProfil"
            android:theme="@style/AppTheme.Form" />
        <activity
            android:name=".DetailBengkel"
            android:label="@string/title_activity_detail_bengkel"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Utama" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.Utama" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Utama" />
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Utama">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyALisurDb7RVJUKs2Es67Tw2jQL55LoClw" />
    </application>

</manifest>